#navContent {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: var(--base-theme-color-primary);
    z-index: 40;
}
#navContent svg {
    width: 1rem; 
    height: 1rem; 
}
#navContent button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#navContent > div:nth-child(1) {
    position: relative;
}
#navContent > div:nth-child(2) {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
}
#navContent > div:nth-child(3) {
    display: flex; 
    flex-direction: row; 
    gap: 1.5rem; 
    justify-content: flex-end; 
    align-items: center; 
}
#navContent > div:nth-child(3) > div {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 0.5rem;
}
#navContent > div:nth-child(1) > div:nth-child(1) {
    display: none; 
    flex-direction: row; 
    gap: 1.5rem; 
    justify-content: flex-end; 
    align-items: center; 
}
#hamburgerButton > svg {
    height: 1.5rem;
    width: 1.5rem;
}
#navContent > div:nth-child(1) > div:nth-child(2) {
    display: flex; 
}
#navContent a {
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.75rem; 
    font-weight: 700; 
    color: var(--base-theme-text-color);
}
#navTitle {
    font-size: 1.875rem;
    line-height: 2.25rem; 
    font-weight: 800; 
}
#hamburgerButton {
    color: var(--base-theme-text-color);
}
#dropdown {
    display: flex; 
    position: fixed; 
    left: 0; 
    top: 4rem; 
    padding: 1rem; 
    flex-direction: column; 
    gap: 1rem; 
    width: 0; 
    width: 100%; 
    background-color: var(--base-theme-color-primary); 
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    opacity: 0; 
    z-index: -1;
    border-radius: 0 0 1rem 1rem;
}
#dropdown.shown {
    opacity: 1;
    z-index: 40;
}
#navSpacer {
    height: 64px;
}
@media (min-width: 768px) { 
    #navContent {
        padding-left: 1.5rem;
        padding-right: 1.5rem; 
    }
    #navContent > div:nth-child(1) > div:nth-child(1) {
        display: flex; 
    }
    #navContent > div:nth-child(1) > div:nth-child(2) {
        display: none; 
    }
    #navContent svg {
        width: 1.5rem; 
        height: 1.5rem; 
    }
}